@media screen and (max-width: 1100px) {
	#dashboard .grid-wrapper {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 920px) {
	.tingle-modal-box {
		width: 75%;
	}

	form .flex-wrapper {
		display: block;
	}

	form .flex-wrapper .flex-item {
		padding: unset;
		margin: 10px 0;
	}

	form .flex-wrapper .flex-item:not(:last-child) {
		border-right: unset;
	}
}

@media screen and (max-width: 800px) {
	#dashboard .grid-wrapper {
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 768px) {
	header.modal {
		font-size: 25px;
	}

	form .grid-wrapper {
		grid-template-columns: 1fr;
	}

	.tingle-modal-box {
		width: 60%;
	}
}

@media screen and (max-width: 540px) {
	header.modal {
		margin-top: 48px;
	}

	footer {
		padding-bottom: 20px;
	}

	.tingle-modal-box {
		width: 100%;
	}

	.tingle-modal--overflow {
		padding: 0;
	}

	section {
		margin: 30px;
	}
}

@media screen and (max-width: 420px) {
	nav.closed .nav-links li .sub-menu{
		display: none;
	}
}