/*@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");*/

:root {
	--xiketic: #11101d;
	--dark-purple: #1d1b31;
	--link-water: #e4e9f7;
	--light-steel-blue: #a9bcd0;
	--roman-silver: #787e87;
}

* {
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

main {
	background: var(--link-water);
	left: 280px;
	min-height: 100vh;
	position: relative;
	transition: all 0.5s ease;
	width: calc(100% - 280px);
}

main header {
	align-items: center;
	color: var(--xiketic);
	display: flex;
	font-size: 35px;
	height: 60px;
	overflow: hidden;
}

main header .fa-bars {
	cursor: pointer;
	margin: 0 15px;
}

h2 {
	font-size: 26px;
	font-weight: 600;
}

h3 {
	font-size: 24px;
	margin: 10px 0;
}

section {
	margin: 30px 60px;
	padding: 20px 50px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
	background-color: #fff;
	border-radius: 20px;
}

hr {
	margin-bottom: 15px;
}