table {
	padding-top: 20px;
	text-align: center;
}

table thead th {
	background-color: var(--light-steel-blue);
	font-family: "Poppins Regular", sans-serif;
}

table thead th:first-child {
	border-radius: 5px 0 0 0;
}

table thead th:last-child {
	border-radius: 0 5px 0 0;
}

table .fas {
	color: var(--blue-chill);
	text-decoration: none;
}

table .fas:hover {
	color: var(--cyan);
}

.dataTables_filter input {
	display: inline-block;
	margin-left: 5px;
	width: 200px;
}

table td a {
	color: var(--persian-red);
}

table.display.dataTable tbody tr:hover,
table.display.dataTable tbody tr:hover > .sorting_1 {
	background-color: var(--botticelli);
}

.fas, .far,
#new-guarantor table tr:hover {
	cursor: pointer;
}

#print-header {
	display: flex;
	gap: 20px;
}

#print-header h1 {
	font-size: 25px;
	line-height: 1.2;
}

#print-header .fa-handshake {
	font-size: 100px;
}

#print-header address {
	line-height: 1.4;
}

.print-hr {
	margin: 10px 0;
}

th span {
	font-weight: normal;
}